
/************************
POSITIONING
*************************/
body {
  padding-top: 20px;
}

/** Containing div for entire game **/

#game-container {
  height: 420px;
  min-width: 300px;
  margin-bottom: 10px;
}

/** Tic Tac Thrones Header Positioning **/

#tic-tac-toe {
  text-align: center;
  height: 10%;
}

#tic-tac-toe p {
  padding-top: 4%;
}

/** Clear board and reset button positioning **/

#reset-buttons {
  height: 10%;
}

.button-wraps {
  float: left;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

.button-wraps p {
  padding-top: 3%;
  line-height: 2em;
}

/** Scoreboard positioning **/

#scoreboard {
  text-align: center;
  height: 15%;
}

#lannister-score p, #stark-score p {
  height: 50%;
  text-align: center;
  padding-top: 4%;
}

/** Board table positioning **/

#gameboard {
  text-align: center;
  height: 65%;
}

table {
  height: 100%;
  width: 100%;
}

tr {
  height: 33%;
  width: 100%;
}

/** Chat positioning **/
#nameInput {
  width: 32%;

}

#messageInput {
  width: 65%;
  float: right;
  margin-left: 2%;
}


/**************************
STYLES
***************************/

/** Body styling for backgroung image and font **/
body {
  background-image: url('../images/got-background.jpg');
  background-size: 100% 250%;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Cinzel', serif;
}

/** Tic Tac Thrones Header Stlying **/
#tic-tac-toe {
  border-radius: 10px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: bold;
  color: floralwhite;
  border: 1px solid #faebd7;
}

/** Reset and Clear board button styles **/
.button-wraps {
  background-image: url('../images/buttons-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 17px;
  color: floralwhite;
  border: 1px solid #faebd7;
}

.button-wraps:hover {
  cursor: pointer;
  text-shadow: 0.1em 0.1em 0.2em #faebd7;
}

.button-wraps p:active {
  font-size: 20px;
}

/** Scoreboard stlying **/
#scoreboard {
  border-radius: 10px;
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  border: 1px solid #faebd7;
}

/** Board table styling: static; **/
#gameboard {
  background-image: url('../images/board-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #faebd7;
}

td {
  background-color: rgba(178, 192, 193, 0.9);
  border-radius: 50%;
  padding: 10px;
}

#chat-wrap {
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 5px;
  border: 1px solid #faebd7;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#chat-wrap p {
  font-weight: bold;
  font-size: 1.1em;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  border-radius: 5px;
}

/** Board table styling: hover **/
.hover:hover {
  background-color:lightgrey;
  cursor: pointer;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 60% 90%;
  border-bottom-right-radius: 60% 90%;
}


/** Stark piece styles: clicked **/
.house-stark {
  background-image: url('../images/stark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 60% 90%;
  border-bottom-right-radius: 60% 90%;
}

/** Lannister piece styles: clicked **/
.house-lannister {
  background-image: url('../images/lannister.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 60% 90%;
  border-bottom-right-radius: 60% 90%;
  padding: 10px;
}


.clicked {}


/************************************
Media Queries
************************************/

/** First breakpoint: medium width viewport **/
@media screen and (min-width: 450px) {
  #game-container {
    height: 450px;
  }

  #tic-tac-toe p {
    font-size: 1.5em;
    padding-top: 3%;
}

  .button-wraps p {
    padding-top: 3%;
    font-size: 19px;
  }

  .button-wraps p:active {
    font-size: 21px;
}


  #lannister-score p, #stark-score p {
    font-size: 18px;
    padding-top: 2.5%;
}

}

/** Second breakpoint: large width viewport **/
@media screen and (min-width: 700px) {
  #game-container {
    height: 700px;
  }

  #tic-tac-toe p {
    font-size: 2em;
    padding-top: 3.5%;
  }

  .button-wraps p {
    padding-top: 5%;
    font-size: 22px;
  }

  .button-wraps p:active {
  font-size: 24px;
}

  #scoreboard p {
    font-size: 20px;
    padding-top: 4%;
  }


}


